@font-face {
  font-family: 'Russo';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/RussoOne-Regular.ttf');
}
@font-face {
  font-family: 'Exo2-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Exo2-Regular.ttf');
}
@font-face {
  font-family: 'Exo2-ExtraBold';
  src: url('../fonts/Exo2-ExtraBold.ttf');
}
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: 'Exo2-Regular', sans-serif;
  &.locked {
    overflow: hidden;
  }
}
a {
  text-decoration: none;
  color: $color0;
}
.content {
  min-width: 992px;
  padding: 0 10vh;
  padding-top: 10px;
  background-color: #F9F9F9;
  border-top: 2px solid #EFEFEF;
  min-height: 85vh;
  height: 100%;
  h1 {
    margin-bottom: 1rem;
    text-indent: 15px;
  }
}
.card {
  box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
  border-radius: 0.5rem;
  &s-list {
    &_grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-auto-rows: $schoolCard;
      gap: 20px;
      .card:hover {
        cursor: pointer;
        img {
          transform: scale(1.1);
        }
      }
    }
  }
  &__image {
    position: relative;
    height: 150px;
    overflow: hidden;
    img {
      transition: transform 0.3s ease-in-out;
      position: absolute;
      width: 100%;
    }
  }
  &__title {
    margin-bottom: 0.5rem !important;
    text-indent: 0 !important;
    color: $color0;
  }
  &__body {
    padding: 14px;
    position: relative;
  }
  &__description {
    @include textEllipsis;
    color: #787878;
    position: absolute;
    max-width: calc(100% - 24px);
  }
}
@media screen and (max-width: 1190px) {
  .cards-list {
    &_grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
@media screen and (max-width: 992px) {
  .content {
    min-width: 0px;
    max-width: 992px;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
}
@media screen and (max-width: 768px) {
  .cards-list {
    &_grid {
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media screen and (max-width: 540px) {
  .content {
    padding: 0;
  }
  .card {
    box-shadow: none;
    &s-list {
      padding: 0 14px;
      &_grid {
        padding: 0 14px;
        grid-template-columns: 1fr;
      }
    }
  }
}