$mainColor: #201D24;
$backgroundColor: white;
$colorSuccess: #00C403;
$colorSuccessDisabled: #64b865;
$colorDanger: #FF2D2D;
$colorDangerDisabled: #ff8a8a;
$color0: #5358EF;
$color1: #2A2AdA;
$color1_disabled: #8080ff;
$color2: #FF8D17;
$color3: #B06B43;
$color4: #F38A35;
$schoolCard: minmax(250px, 1fr);

@mixin noPaddingList {
  display: flex;
  list-style: none;
  padding-left: 0;
}

@mixin textEllipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
