@keyframes skeleton {
  to {
    background-position-x: -10%;
  }
}
@keyframes pulse {
  0% {
    background-color: #c0c0c0;
  }
  50% {
    background-color: #8f8f8f;
  }
  100% {
    background-color: #c0c0c0;
  }
}
@mixin skeletonAnimation {
  background: linear-gradient(90deg,
    rgba(192,192,192,1) 37%,
    rgba(255,255,255,1) 50%,
    rgba(192,192,192,1) 64%
    ) #c0c0c0;
  background-size: 200% 100%;
  background-position-x: 190%;
  animation: 1s skeleton ease-in infinite;
  animation-delay: 0.5s;
}
@mixin pulseAnimation {
  animation: 2s pulse ease-in-out infinite;
}
@mixin place {
  position: absolute;
  width: 24px;
  height: 24px;
  top: calc(50% - 5px);
  right: 10px;
}
.player-info,
.statistics {
  display: flex;
  justify-content: space-between;
  // margin-left: -1.5rem;
  &__block {
    flex: 0 0 50%;
    width: 100%;
    &:nth-child(2) {
      padding-left: 24px;
    }
    > h2 {
      margin-bottom: 8px;
    }
  }
  &-generals > div {
    padding: 16px 0;
    border-bottom: 1px solid #c0c0c0;
    > span {
      text-align: end;
      float: right;
    }
  }
}
.player {
  &s-list {
    @include noPaddingList;
    flex-direction: column;
    align-items: center;
  }
  padding: 24px 16px;
  &-block {
    box-shadow: 0px 0px 2px 0px rgba(34, 60, 80, 0.2) !important;
    height: 100px;
    display: flex;
    max-width: 992px;
    z-index: 50;
    transition: transform 1s ease;
    &__photo {
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
      background-color: #e7e7e7;
      min-width: 100px;
      // width: 90px;
      padding: 10px;
      &-box {
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid #cccccc;
        background-color: #cccccc;
        height: 100%;
        &_loading {
          @include skeletonAnimation;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    &__general-info {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
    &__name {
      position: relative;
      padding: 5px;
      padding-right: 45px;
      padding-left: 10px;
      font-size: 1.5rem;
      font-weight: 600;
      background-color: #e7e7e7;
      height: 45%;
      border-top-right-radius: 0.5rem;
      span {
        @include textEllipsis;
        width: calc(100% - 50px);
        position: absolute;
      }
      &-place {
        @include place;
        top: calc(50% - 12px);
        font-size: 24px;
        font-weight: 600;
      }
      &_loading {
        &::before {
          content: "";
          position: absolute;
          border-radius: 10px;
          height: 10px;
          width: 130px;
          top: calc(50%);
          background-color: #c0c0c0;
          @include skeletonAnimation;
        }
        span {
          display: block;
          margin-top: -4px;
        }
        &::after {
          content: "";
          @include place;
          top: calc(50% - 7px);
          border-radius: 5px;
          background-color: #c0c0c0;
          @include pulseAnimation;
        }
      }
    }
    &__info {
      display: grid;
      grid-template-rows: 14px 2rem;
      grid-template-columns: 1fr 1fr;
      position: relative;
      padding-left: 10px;
      background-color: #e7e7e7;
      height: 55%;
      border-bottom-right-radius: 0.5rem;
      > div {
        align-self: center;
        @include textEllipsis;
      }
      &__label {
        font-size: 14px;
        color: #717980;
      }
      &_loading {
        &::before {
          content: "";
          position: absolute;
          border-radius: 10px;
          height: 10px;
          width: 47%;
          left: 10px;
          top: calc(50% - 5px);
          @include skeletonAnimation;
          // animation-timing-function: linear;
        }
        &::after {
          content: "";
          position: absolute;
          border-radius: 10px;
          height: 10px;
          width: 47%;
          top: calc(50% - 5px);
          right: 10px;
          @include skeletonAnimation;
          animation-delay: 0.9s;
        }
      }
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &-score {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    &__name {
      text-align: center;
      padding-bottom: 5px;
      border-bottom: 1px solid #e7e7e7;
      @include textEllipsis;
    }
    &__result {
      height: 35%;
      font-size: 32px;
      &_win {
        color: $colorSuccess;
      }
      &_lose {
        color: $colorDanger;
      }
    }
    &__points {
      height: 65%;
      font-size: 45px;
    }
  }
  &-statistics {
    margin-top: 16px;
  }
  &-photos {
    margin-top: 12px;
    &__block {
      margin-top: 12px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: minmax(150px, 1fr);
      gap: 20px 20px;
    }
    &__image {
      text-align: center;
      img {
        width: 100%;
      }
    }
  }
  &__photo {
    flex: 0 0 35%;
    position: relative;
    text-align: center;
    align-self: center;
    &_popup {
      &+div {
        padding-left: 0 !important;
      }
      > img {
        max-width: 250px;
        height: 100%;
      }
    }
    > img {
      max-width: 312px;
      width: 100%;
      // height: auto;
      height: 250px;
    }
    + div {
      flex: 0 0 65%;
    }
  }
  &-matches {
    > div {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
  &__match-card {
    display: flex;
    border: 1px solid #a5a5a5;
    background-color: #e7e7e7;
    border-radius: 0.5rem;
      &_info {
      display: flex;
      flex-direction: column;
      flex: 1 auto;
      padding: 8px;
      .opponent {
        color: #717980;
        margin-bottom: 0.1rem;
        max-width: 290px;
        min-height: 19px;
        > span {
          color: #717980;
          margin-right: 0.5rem;
        }
        > b, > strong {
          color: #000000;
        }
      }
      .tournament {
        margin-top: 0.1rem;
        @include textEllipsis;
        max-width: 290px;
        min-height: 19px;
        > a {
          font-weight: 600;
        }
      }
    }
    &_score {
      padding: 8px;
      text-align: center;
      align-self: center;
    }
    &_loading {
      .player__match-card_score,
      .tournament,
      .opponent {
        position: relative;
        &::before {
          position: absolute;
          content: "";
          height: 12px;
          width: 150px;
          top: calc(50% - 6px);
          border-radius: 10px;
          @include skeletonAnimation;
        }
      }
      .tournament::before {
        width: 90px;
      }
      .player__match-card_score::before {
        right: 8px;
        width: 40px;
        // animation-delay: 0.9s;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .player {
    &-block {
      height: 150px;
      &__name {
        height: 35%;
        span {
          top: calc(50% - 14px);
        }
      }
      &__info {
        height: 65%;
        grid-template-areas: "label" "info" "label-2" "info-2";
        grid-template-rows: 14px 2rem 14px 2rem;
        grid-template-columns: 1fr;
        > div {
          &:nth-child(1) {
            grid-area: label;
          }
          &:nth-child(2) {
            grid-area: label-2;
          }
          &:nth-child(3) {
            grid-area: info;
          }
          &:nth-child(4) {
            grid-area: info-2;
          }
        }
      }
    }
    padding-top: 0;
    padding-bottom: 16px;
    &-score {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      &__result {
        margin-right: 10px;
      }
      &__name {
        font-size: 2rem;
      }
    }
    &-photos {
      margin-top: 0;
      &__block {
        grid-template-columns: 1fr 1fr;
      }
    }
    &-statistics {
      padding-top: 0;
      padding-bottom: 16px;
      margin-top: 0rem;
    }
    &-matches {
      margin-top: 16px;
    }
    &-info {
      flex-direction: column;
      &__block {
        margin-top: 16px;
        &:nth-child(2) {
          padding-left: 0;
        }
      }
    }
    &__photo {
      > img {
        max-width: none;
        height: auto;
      }
      &_popup {
        display: none;
      }
    }
  }
  .statistics {
    flex-direction: column;
    &__block {
      padding-top: 16px;
      &-matches {
        margin-top: 16px;
      }
      &:nth-child(2) {
        padding-left: 0;
      }
    }
  }
}
@media screen and (max-width: 620px) {
  .player {
    &-photos {
      &__block {
        grid-template-columns: 1fr;
      }
    }
  }
}
@media screen and (max-width: 540px) {
  .player {
    &-block {
      flex-direction: column;
      height: 300px;
      width: 95%;
      &__photo {
        height: 150px;
        border-top-right-radius: 0.5rem;
        border-bottom-left-radius: 0;
        &-box {
          margin: auto;
          width: 150px;
          overflow: initial;
          border-radius: none;
          border: 0;
          background-color: inherit;
        }
        img {
          height: 130px;
        }
      }
      &__name {
        border-top-right-radius: 0;
      }
      &__info {
        height: 140px;
        border-bottom-left-radius: 0.5rem;
      }
    }
  }
}